@import "tailwindcss";
@plugin "@iconify/tailwind4";

/** For titles */
@font-face {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400 800;
	font-display: swap;
	src: url('/fonts/EBGaramond.woff2') format('woff2');
}

/** For prose */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/Lato.woff2') format('woff2');
}

/** For code */
@font-face {
	font-family: 'Sono';
	font-style: normal;
	font-weight: 200 800;
	font-display: swap;
	src: url('/fonts/Sono.woff2') format('woff2');
}

@theme {
	/* Disable large and unused tailwind defaults */
	--font-*: initial;
	--color-*: initial;
	--animate-*: initial;
	--perspective-*: initial;
	--tracking-*: initial;
	--leading-*: initial;

	/* Brand color */
	--color-primary: #0b8dc4;
	--color-darken: black;
	--color-lighten: white;
	--color-scrollbar: color-mix(in lab, var(--color-lighten), var(--color-primary));
	--color-link: color-mix(in lab, var(--color-darken), var(--color-primary));
	/* Default light theme */
	--color-bg: oklch(97% 0.003 265);
	--color-pre-bg: color-mix(in lab, var(--color-lighten), var(--color-bg));
	/* TODO: `color-contrast(var(--color-bg))` once stable */
	--color-text: #3b4351;
	/* Font families */
	--font-sans: Lato, ui-sans-serif, system-ui, sans-serif;
	--font-serif: 'EB Garamond', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-mono: 'Sono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

@utility dark {
	--color-darken: white;
	--color-lighten: black;
	--color-bg: oklch(30% 0.017 280);
	--color-text: white;
}

@layer base {
	:root {
		scrollbar-color:  var(--color-scrollbar) var(--color-bg);
	}

	a { @apply text-link underline }

	@media (prefers-color-scheme: dark) {
		.system {
			@apply dark;
		}
	}

	.dark { @apply dark; }

	/** Heading size and weight. */
	h1 { @apply text-2xl font-extrabold }
	h2 { @apply text-xl font-bold }
	h3 { @apply text-xl font-semibold }
	h4 { @apply text-lg font-medium }
	h1, h2, h3, h4, h5, h6 { @apply font-serif }

	/** Heading margins */
	h1 { @apply mt-8 mb-2.5 }
	h2 { @apply mt-7 mb-2 }
	h3 { @apply mt-6 mb-[1.75] }
	h4 { @apply mt-5 mb-1.5 }
	h5 { @apply mt-4 mb-[1.25] }
	h6 { @apply mt-3 mb-1 }

	.prose {
		*:not(h1, h2, h3, h4, h5, h6, pre *) { @apply mt-2 }

		code, kbd, samp, pre { @apply font-mono bg-pre-bg; }
		code { @apply px-1; }
		pre code { @apply px-0; }
		pre {
			@apply p-2 mt-2 text-sm;
			scrollbar-width: thin;
		}

		ul { @apply list-disc; }
		ol { @apply list-decimal; }
		ul, ol { @apply ml-4 list-inside; }
		li { @apply mt-2 ps-0; }
		svg { @apply w-full; }

		/*Table of contents*/
		details > ul { @apply list-none; }
	}

	ul ul, ol ol, blockquote {
		@apply ps-4;
	}
	blockquote {
		border-inline-start-width: .25rem;
	}

	.autolink {
		&::after { content: "§"; }
		@apply ml-2 opacity-20;
		&:hover { @apply opacity-100; }
	}
}
