---
import FormattedDate from './FormattedDate.astro';

type Props = { published: Date, updated: Date };

const { published, updated } = Astro.props;
---

<p>
	<FormattedDate date={published} />
	{
		updated && (
			<span>
				(updated <FormattedDate date={updated} />)
			</span>
		)
	}
</p>
