---
import type { HTMLAttributes } from 'astro/types';
import { tocRegex } from "../../../astro.config";

type Props = HTMLAttributes<'h1'> & { level: 2 | 3 | 4 | 5 | 6 };

const { level, ...rest } = Astro.props;
if (rest.id?.match(new RegExp(`^${tocRegex}`))) rest.id = "";
const Comp = `h${level}`;
---

<Comp {...rest}>
	<slot />
	{rest.id && (
		<a
			aria-hidden="true"
			tabindex="-1"
			href=`#${rest.id}`
			class="no-underline text-link opacity-20 hover:opacity-100"
		>
			ยง
		</a>
	)}
</Comp>
