html {
	--primary-text-color: #3b4351;
	--primary-theme-color: #0b8dc4;
	--global-font-size: 12px;
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
	text-align: center;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* end minireset */
html,
body {
	font-size: var(--global-font-size);
	font-family: var(--primary-font-stack);
	color: var(--primary-text-color);
	height: 100%;
}
input, select, button {
	font-size: calc(var(--global-font-size) * 0.83333);
	margin: 0;
	/*a11y*/
	min-width: 32px;
	min-height: 32px;
}
input[type="checkbox"] {
	width: calc(var(--global-font-size) * 0.83333);
	height: calc(var(--global-font-size) * 0.83333);
}
h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1.1em;
}
svg:not([fill]) {
	fill: var(--primary-text-color);
}

body > main {
	margin: 0 1rem;
}
