.ulPadded {
	margin-left: 1rem;
	list-style: inside;
}
.interests {
	display: grid;
	grid-template-columns: repeat(auto-fill, 25%);
}
.forges {
	display: flex;
	justify-content: center;
}
.forges > li {
	margin: 0.2rem;
}
.article {
	display: grid;
	grid-template-columns: repeat(3, auto);
}
.roles {
	grid-column: 1/4;
}
.article > h4 {
	text-align: center;
}
.article > h5 {
	text-align: right;
}
.technologies {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(1rem, 4rem));
}
.technologies > li {
	margin: 0.5rem;
}
.resume h2,
.resume h3,
.resume h4,
.resume h5,
.resume h6 {
	margin-top: .5rem;
	margin-bottom: .2rem;
}

.print {
	display: none;
}

@media print {
	nav {
		display: none;
	}
	.technologies {
		grid-template-columns: repeat(auto-fill, 2.6rem);
	}
	.noPrint {
		display: none;
	}
}
