---
import type { CollectionEntry } from 'astro:content';
import HeaderLayout from "./Header.astro";
import PostDate from '../components/PostDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, published, updated } = Astro.props;
---

<HeaderLayout>
	<article class="prose">
		<h1>{title}</h1>
		<PostDate published={published} updated={updated} />
		<slot />
	</article>
</HeaderLayout>
