---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="p-2 sm:p-4 system bg-bg text-text font-sans">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-3xl m-auto">
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>
